.app__footer {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding-top: 0;
}

.app__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;
    padding: 0 2rem;
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app_footer-headtext {
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 41.6px;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.app__footer-links_logo img:first-child {
    width: 210px;
    margin-bottom: 1rem;
}

.spoon__img {
    margin-top: 1rem;
}

.app__footer-links_icons {
    margin-top: 1rem;
}

.app__footer-links_icons svg {
    color: white;
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}

.app__footer-links_icons svg:hover {
    color: var(--color-golden);
}

.app__footer-links_work p {
    margin-bottom: 0.5rem;
}

.footer__copyright {
    margin-top: 3rem;
}

@media screen and (max-width:768px) {
    .app__footer {
        padding: 0 0 2rem 0 !important;
    }

    .app__footer-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 1rem;
    }

    .app__footer-links_contact,
    .app__footer-links_logo,
    .app__footer-links_work {
        margin: 1rem 0;
    }

}